
.shadowed-text{
  text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

.card-and-dialog{
  width: 30%;
  display: inline-block;
}

.card-wrapper{
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

.background-image-header{
  background-position: center;
  background-size:cover;
}